<div class="container"
fxLayout="column"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center" 
fxLayoutGap.xs="0">
<div fxFlex="40">
    <div fxFlex *ngIf = "dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2>{{dish.name | uppercase}}</h2>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ baseURL + dish.image }}" alt = {{dish.name}}>   
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink] = "['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>

<div fxFlexAlign="start">
    <div class="container">
        <div *ngIf="dish">
            <div>
                <h2>Comments</h2>
            </div>
            <mat-list *ngIf="dish">
                <mat-list-item *ngFor="let comment of dish.comments">
                    <h3 matLine>{{comment.comment}}</h3>
                    <h4 matLine>{{comment.rating}} Stars</h4>
                    <h4 matLine>-- {{comment.author}}, {{comment.date | date : 'mediumDate'}}</h4>
                </mat-list-item>
                <mat-list-item *ngIf = "this.commentForm.valid && this.commentForm.value.author && this.commentForm.value.comment">
                    <h3 matLine>{{this.commentForm.value.comment}}</h3>
                    <h4 matLine>{{this.commentForm.value.rating}} Stars</h4>
                    <h4 matLine>-- {{this.commentForm.value.author}} </h4>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>

<form class = "full-width" novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <h2>New Comment</h2>
    <p>
        <mat-form-field  class = "full-width">
            <input matInput formControlName = "author" placeholder="Name" type = "text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-slider
        [max]="5"
        [min]="1"
        [step]="1"
        [thumbLabel]="true"
        formControlName = "rating">
    </mat-slider>
</p>
<p>
    <mat-form-field class="full-width">
        <textarea matInput formControlName = "comment" placeholder="Your Comment" type="text" rows = 12 required>
        </textarea>
    </mat-form-field>
    <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
</p>
<button type="submit" [disabled] = "this.commentForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
</form>
<div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
</div>
</div>